<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    Oops you have <%= pluralize(object.errors.count, "error") %>. Try fixing the following:
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
