<h1>About</h1>
<p>Users <span class="badge"><%= @user_count %></span></p>
<p>Topics <span class="badge"><%= @topic_count %></span></p>
<p>Comments <span class="badge"><%= @comment_count %></span></p>
